.main-page {
    /*border: 1px solid aqua;*/
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
nav {
    /*border: 1px solid red;*/
    min-height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
.sections {
  /*border: 1px solid red;*/
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.sections > li {
    /*border: 1px solid blue;*/
    margin: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-admin {
    margin: 0px 8px;
}
.logo {
  width: 168px;
  height: 80px;
}
.logout {
  padding: 5px 10px;
  background: transparent;
  border: 1px solid lightcoral;
  color: lightsalmon;
  outline: none;
  cursor: pointer;
}
.logout:hover {
  background: lightcoral;
  color: white;
  font-weight: bolder;
}
main {
    /*border: 1px solid green;*/
    /*margin: 0px 108px;*/
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}
.filters {
  /*border: 1px solid orange;*/
  /*padding: 8px;
  margin-top: 32px;*/
  margin: 0px 128px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.filter-select {
    padding: 8px;
}
.filter-btn {
    /*border: 1px solid black;*/
    width: 120px;
    height: 40px;
    margin: 24px 32px 32px 32px;
}
.filt-ok {
    width: 100%;
    height: 100%;
    border: 1px solid var(--bambu, #333);
    color: var(--bambu, #333);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.filt-ok:hover {
  background: var(--bambu, #333);
  color: white;
  font-weight: bolder;
}
.reset {
    width: 100%;
    height: 100%;
    border: 1px solid orange;
    color: orange;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.reset:hover {
  background: orange;
  color: white;
  font-weight: bolder;
}
.filter {
    width: 200px;
    height: 48px;
    margin: 24px 32px 32px 32px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--light, lightgrey);
  color: var(--light);
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}
.cards {
  /*border: 1px solid green;*/
  /*margin-top: 32px;
  margin-left: 52px;
  margin-right: 52px;*/
  margin: 0px 108px;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
}
.card {
    /*border: 1px solid red;*/
    /*width: 312px;
    height: 320px;*/
    width: 25%;
    height: 375px;
    margin: 0px 52px 48px 52px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.header-card {
    /*border: 1px solid blue;*/
    height: 192px;
}
.img-header {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.body-card {
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
}
.title {
    margin: 12px 16px 0px 16px;
    font-weight: 900;
    font-size: 18px;
    color: var(--black);
    word-wrap: break-word;
}
.date {
    margin: 7px 16px 0px 16px;
    font-weight: normal;
    font-size: 14px;
    color: var(--black);
}
.description {
    margin: 11px 16px 0px 16px;
    font-size: 14px;
    color: var(--light);

    display: flex;
    flex-direction: column;

}
.content-btn-view {
  /*border: 1px solid red;*/
  margin: 0px 10px;
  display: flex;
  justify-content: flex-end;
  /*padding: 5px;*/
}
.btn-view {
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 0.5px solid var(--bambu, #333);
  color: var(--light, #333);
  font-size: 16px;
  font-weight: 300;
  border-radius: 50%;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}
.btn-view:hover {
  background: var(--bambu, #333);
  color: var(--white, #fff);
}
footer {
    /*border: 1px solid orange;*/
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

/*:root {
  height: 100%;
  border: 3px solid purple;
}

body {
  min-height: 100%;
  border: 1px solid aqua;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

nav {
  border: 1px solid red;
  min-height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.sections {
  border: 1px solid red;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.sections > li {
    border: 1px solid blue;
    margin: 0px 32px;
}
.logo {
  width: 168px;
  height: 80px;
}
main {
  border: 1px solid green;
  margin: 0px 108px;
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
}
.filters {
  border: 1px solid orange;
  padding: 8px;
  margin-top: 32px;
  display: flex;
  flex-flow: row wrap;
}
.filter {
  width: 200px;
  height: 48px;
  margin: 0px 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--light, lightgrey);
}

.cards {
  border: 1px solid green;

  margin-top: 32px;
  margin-left: 52px;
  margin-right: 52px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer {
  border: 1px solid blue;
  min-height: 35px;
}*/